@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Gloock&family=PT+Serif:wght@700&display=swap');
body {
  margin: 0;
font-family: 'PT Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top:50px;
}

code {
  font-family: 'PT Serif', serif,
  font-heig

    monospace;
}

.navbar {
  font-family: 'PT Serif', serif;
  background-color: #F0C0C0;
  color: #1c000a;
}

button {
  background-color: #F0C0C0;
  color: #1c000a;
}
button:hover {
  color: #F0C0C0;
background-color: #1c000a;
}